@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:wght@300;400;700&family=Quantico:ital,wght@0,400;0,700;1,400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.input {
  border: solid black 2px;
  border-radius: 6px;
  padding: 0 10px;
}

.label {
  font-weight: 600;
  padding: 10px 0;
}

.btn {
  border: solid black 2px;
  border-radius: 6px;
  padding: 0 10px;
}
body {
  font-family: "Comic Neue", sans-serif;
}
